@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(35deg, rgba(34, 124, 195, 1) 0%, rgba(255, 221, 134, 1) 100%);
  color: #e0ebf5;
  height: 100vh;
  margin: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 460px;
  position: relative; /* allows divs to position relative to container */
}

.card {
  background-color: #24272b;
  border: 1px solid #ffffffb8;
  border-radius: 12px;
  box-shadow: 0 0 20px #00000062;
  padding: 35px; /* helps keep h2 and button same vertical height */
  width: 460px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* helps keep h2 and button same vertical height */
  text-align: center; /* centers button */
}

.btn {
  background-color: #2a2f33;
  color: inherit;
  padding: 12px;
  margin: 0 auto;
  border: 1px solid #e0ebf554;
  border-radius: 18px;
  width: 150px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3f454a;
  border: 1px solid #ffffffb8;
}

/* Step Counter*/
.step {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
}

#step__text {
  margin: 0 20px 0 0;
}

.step--circle {
  background: white;
  border: 1px solid #e0ebf554;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  margin: 0 5px 0 5px;
}

.active {
  background: #ffda74;
  box-shadow: 0 0 10px #fffbe0;
}

.completed {
  background: #ffbb00;
  box-shadow: none;
}

.inactive {
  background: white;
  border: 1px solid black;
}

/* Flash Message */
.flash {
  background-color: #dc4343c9;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: -80px;
  width: 460px;
  text-align: center;
  font-size: 20px;
  padding: 16px;
}

/* Add/Remove */
.hidden {
  display: none;
}

/* Step One */
.form__input,
.register {
  display: flex;
  justify-content: flex-start; /* left justify */
}

input[type='text'],
input[type='email'] {
  background-color: inherit;
  color: inherit;
  margin: 1rem 0 2rem 0;
  padding: 10px;
  height: 50px;
  border: 1px solid #e0ebf554;
  border-radius: 12px;
  width: 390px; /* 460 (container width) - 70 (card padding from both sides) = 390 */
  outline: none; /*stops from having default white outline when focused */
}

input[type='text']:focus,
input[type='email']:focus {
  border: 1px solid white;
}

/* Step Two */
#card--two input[type='checkbox'] + label {
  width: 390px;
  padding: 20px;
  margin: 1rem 0;
  background-color: rgba(69, 69, 69, 0.314);
  color: #a1a1a1;
  border-radius: 6px;
  border: 1px solid #e0ebf554;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#card--two input[type='checkbox']:checked + label {
  background-color: #9696966a;
  color: white;
}

/* hide checkbox */
#card--two input[type='checkbox'] {
  display: none;
}

.btn--two label span {
  padding: 3px 0;
}

/* Step Three */
.summary {
  margin-bottom: 15px;
  width: 390px;
  text-align: left;
}

.summary p {
  margin: 15px 0;
  color: #a1a1a1;
}

.summary span,
li {
  color: #e0ebf5;
}

.summary li {
  margin-left: 50px;
}

/* Step Four */
#card--final {
  align-items: center;
  justify-content: center;
}

#card--final h2,
i {
  padding: 20px 0;
}

@media (max-width: 450px) {
  .card {
    max-width: 350px;
    position: relative;
  }

  input[type='text'],
  input[type='email'],
  #card--two input[type='checkbox'] + label,
  .summary {
    width: 300px;
  }
}
